.MainBox {
    padding: 10px 30px;
    width: 450px;
}

.Title {
    font-weight: bold;
    margin-bottom: 10px;
}

.Encouragement {
    text-align: justify;
    font-style: italic;
}

.Encouragement__Error {
    color: #ff0000;
}
